.menu {
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  font-weight: bold;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  .lang-selection,
  .user-selection {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    width: 200px;

    .section-description {
      margin-bottom: 5px;
      text-align: center; /* Center the text */
    }

    .language-group,
    .avatar-group {
      display: flex;
      justify-content: center; /* Center avatars horizontally */
      gap: 0; /* No gap initially */
      transition: gap 0.3s ease;

      &:hover {
        gap: 12px; /* Increase gap on hover */
      }
    }


  .avatar {
      cursor: pointer;
      transition: 0.3s ease;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
@media (max-width: 950px) {
  .lang-selection,
  .user-selection{
    max-width: 200px;
  }
}
