body {
  height: 100vh;
  margin: 0;
  font-family: -apple-system, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 75px);
  width: 100vw;
  padding: 20px;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1200px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.overview, .chatbots {
  padding: 20px;
  padding-top: 0;
  box-sizing: border-box;
}

.chatbots {
  flex: 1;
}

/* Responsive design */
@media (max-width: 950px) {
  .app {
    height: auto;
    padding: 2%;
  }
  .container {
    flex-direction: column;
  }
}